#game-header {
  background-color: #191919;
  padding: 0.1rem 0 0.7rem 0;
}

#game-header * {
  text-align: center;
}

#game-content {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

#comment-input {
  width: 70vw;
  display: block;
  overflow-wrap: break-word;
  background: transparent;
  height: 4em;
  padding: 0.5em 1em;
  resize: vertical;
  color: white;
  border-radius: 0.5em;
  border: 2px solid #ACACAC;
  font-size: 1rem;
}

.ratings {
  display: grid;
  column-gap: 1em;
  max-width: fit-content;
}

#overall,
#related,
#aesthetic,
#fun {
  grid-column: 2;
}

#overall {
  margin-top: 0.5rem;
}

#left-arrow,
#right-arrow {
  width: 5vw;
  font-weight: bold;
  margin: auto;
  color: lightgreen;
}

#left-arrow:hover,
#right-arrow:hover {
  cursor: pointer;
  filter: brightness(0.8);
}

h2 {
  color: #ACACAC;
}

.thumbnail-container {
  display: flex;
  justify-content: center;
  margin: 1rem;
  width: 100%;
  max-width: 80vw;
  max-height: 50vh;
  aspect-ratio: 16 / 9;
}

iframe.thumbnail {
  aspect-ratio: 16 / 9;
  object-fit: contain;
}

.thumbnail {
  border: none;
  width: auto;
  height: 100%;
  max-width: 100%;
}

.comment-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comment {
  display: flex;
  gap: 1em;
  flex-direction: column;
  background: #191919;
  padding: 1em 2em;
  border-radius: 0.5em;
}

.commenter {
  display: flex;
  gap: 0.5em;
  align-items: center;
  color: #B3B0D7;
  font-weight: bold;
  font-size: 1.25em;
}

.pfp {
  height: 2.5em;
  width: 2.5em;
  margin-bottom: 0;
  background: white;
  border-radius: 50%;
}

.submit {
  margin: 1rem 0;
  padding: 0.5em 2em;
  background: #599e6c;
  border-radius: 0.4rem;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.submit:hover {
  filter: brightness(0.8);
}

textarea {
  resize: none;
}

#game-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-notice {
  margin-top: 1em;
  margin-bottom: 1em;
}

@media only screen and (max-width: 600px) {
  .ratings {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  .submit {
    border-radius: 0.5rem;
  }

  #comment-input {
    width: 70vw;
  }

  .margin {
    margin: 3rem;
  }
}