#hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #101010d0;
}

#hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}