.home-img {
  /* max-height: 300px; */
  width: 300px;
}

#submisson-guideline-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media only screen and (min-width: 600px) {
  #home {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}