img {
  max-height: 400px;
}


#theme-display {
  height: 400px;
}

#theme1 {
  height: 300px;
  top: 10%;
  left: 10%;
}

#theme2 {
  height: 300px;
  top: 10%;
  left: 30%;
}

@media only screen and (min-width: 600px) {
  #home {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}