.login{
    display:none;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    padding: 1em;
    background:#191919;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index: 1000;
    border-radius: 1em;
    min-width: 50%;
    min-height: 50%;
    gap:1em;
}

.login_form>.email{
    background:none;
    border:none;
    border-bottom: 3px solid #fff;
    font-size: 2rem;
    padding:0.2em 1em;
    color:#fff;
    font-family: Inter, sans-serif;
}
.popup-background{
    position:none;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    z-index: 999;
}

.submit_email{
    background: #fff;
    color: #191919;
    padding: 0.5em 2em;
    border: none;
    border-radius: 1em;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
    font-family: Inter, sans-serif;
}

.login_form{
    display:flex;
    flex-direction: column;
    gap:1em;
    justify-content: center;
    align-items: center;
}

.active{
    display:flex;

}
