.navbar {
  display: flex;
  align-items: stretch;
  position: fixed;
  right: 2em;
  top: 1em;
  z-index: 100;
  flex-direction: row;
  background: linear-gradient(90deg, #292f3376 0%, #292F33 100%);
  font-size: 1.5rem;
  min-width: 20em;
  justify-content: flex-end;
}

.navbar>* {
  padding: 0.5em 1em;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  font-weight: bold;
}

.navbar-logo {
  width: 2em;
}

.navbar-profile-picture {
  width: 2em;
  border-radius: 50%;
}

.navbar-item {
  display: flex;
  align-items: center;
  transition: filter 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
}

.navbar-item:hover {
  filter: brightness(0.8);
  backdrop-filter: brightness(0.8);
}

.navbar-item.active {
  backdrop-filter: brightness(0.5);
}

@media screen and (max-width: 1200px) {
  .navbar {
    position: sticky;
    top: 0;
    width: 100vw;
    box-sizing: border-box;
    padding: 0;
    min-width: unset;
    justify-content: space-between;
  }

  .navbar a {
    font-size: 0.6em;
  }
}